<!DOCTYPE html>
<html>
  <head>
    <title>WP-MIP Data Portal</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    EDIT_WARNING

    TITLE
    <p>The Weather Prediction Model Intercomparison Project (WP-MIP) aims to identify the strengths and weaknesses of AI, hybrid and physical numerical weather prediction models.  The <a href="https://www.wcrp-esmo.org/activities/wp-mip">WP-MIP website</a> provides background about the project and links to all associated resources.</p>

