<!DOCTYPE html>
<html>
  <head>
    <title>WP-MIP Data Portal</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    EDIT_WARNING
    
    <center><h1>WP-MIP Forecast and Analysis Variables</h1></center>
    <br>
    <p>This data access point of the <a href="https://hpfx.collab.science.gc.ca/~swpm001">WP-MIP Forecast Portal</a> is structured around forecast fields.  This is the most straightforward way to find all of the forecasts within the archive for a specific quantity (e.g. 850 hPa temperatures).  If you are trying to find a full list of fields available from each contributor, use of the <a href="index_contrib.html">Contributor Access Point</a> is recommended.

      <ul style="list-style-type:none;">
	<li><a href="#fcstpl">Pressure-Level Forecasts</a></li>
	<li><a href="#anlpl">Pressure-Level Analyses</a></li>
	<li><a href="#fcstsl">Single-Level Forecasts</a></li>
	<li><a href="#anlsl">Single-Level Analyses</a></li>
      </ul>
      <br>

    <h3>Current Archive Status</h3>
    <p>The version numbers for each of the contributions is shown in the tables below to indicate data availability.  These archive tables were last updated at GEN_DATETIME.</p>
    <br><hr><br>
    
    <h2 id="fcstpl">Pressure-Level Forecasts</h2>
    <table style="width:100%">
      <tr>
	<th>Field</th>
	<th>Parameter Name</th>
	<th>Units</th>
	<th>Levels</th>
      </tr>
FCSTPL_TABLE_DATA
    </table>
    <br><br>
  
    <h2 id="anlpl">Pressure-Level Analyses</h2>
    <table style="width:100%">
      <tr>
	<th>Field</th>
	<th>Parameter Name</th>
	<th>Units</th>
	<th>Levels</th>
      </tr>
ANLPL_TABLE_DATA
    </table>
    <br><br>
    
    <h2 id="fcstsl">Single-Level Forecasts</h2>
    <table style="width:100%">
      <tr>
	<th>Field</th>
	<th>Parameter Name</th>
	<th>Units</th>
      </tr>
FCSTSL_TABLE_DATA
    </table>
    <br><br>
  
    <h2 id="anlsl">Single-Level Analyses</h2>
    <table style="width:100%">
      <tr>
	<th>Field</th>
	<th>Parameter Name</th>
	<th>Units</th>
      </tr>
ANLSL_TABLE_DATA
    </table>
    <br><br>
    
  </body>
</html> 
