<!DOCTYPE html>
<html>
  <head>
    <title>WP-MIP Data Portal</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    EDIT_WARNING

    TITLE
    <p>The Weather Prediction Model Intercomparison Project (WP-MIP) aims to identify the strengths and weaknesses of AI, hybrid and physical numerical weather prediction models.  The <a href="https://www.wcrp-esmo.org/activities/wp-mip">WP-MIP website</a> provides background about the project and links to all associated resources.</p>

    <h1>Current Archive Status</h1>
    <p>This archive tabe was last updated at GEN_DATETIME.</p>

    <h1>Available Forecast Data</h1>
    <table style="width:100%">
      <tr>
	<th>Forecast Product</th>
	<th>Parameter Name</th>
	<th>Units</th>
      </tr>
      TABLE_DATA
    </table>
  </body>
</html>
