<!DOCTYPE html>
<html>
  <head>
    <title>WP-MIP Data Portal</title>
    <link rel="stylesheet" href="https://hpfx.collab.science.gc.ca/~swpm001/styles.css">
  </head>
  <body>
    EDIT_WARNING

    TITLE
    <p>This section of the <a href="http://hpfx.science.gc.ca:~swpm001">WP-MIP forecast portal</a> contains forecasts generated the CENTRENAME MODEL_TYPE model.  More information about this system can be found in the <a href="https://github.com/WP-MIP/utils/wiki/CENTRELONG-Model-Descriptions">model description</a>.</p>

    <h1>Current Archive Status</h1>
    <p>This archive table was last updated at GEN_DATETIME.</p>

    <h1>Available Forecast Data</h1>
    <table style="width:100%">
      <tr>
	<th>Forecast Product</th>
	<th>Parameter Name</th>
	<th>Units</th>
      </tr>
      TABLE_DATA
    </table>
  </body>
</html>
